html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0059b4;
    background-repeat: no-repeat;
}

body {
    background-image: url('a86c67a5-c0e2-4ea0-bdce-720cd3c036f6.png');
    background-position: right bottom;
    background-size: 900px;
    padding-bottom: 40px;
}

/* ---- TÍTULO ---- */
h1 {
    text-align: center;
    color: #f0a30c;
    margin-top: 20px;
}

/* ---- MENU ---- */
.menu {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.menu nav button {
    background: #ffffff;
    border: none;
    padding: 12px 25px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu nav button:hover {
    background: #eeeeee;
}

.menu nav button a {
    color: #0059b4;
    text-decoration: none;
    font-weight: bold;
}



table {
    border-collapse: collapse;
    width: 300px;
    background: white;
    text-align: center;
}

table th, table td {
    padding: 10px;
}

/* ---- FORMULÁRIO ---- */
form {
    background: white;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

input[type="submit"] {
    background: #00BFFF;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}

input[type="submit"]:hover {
    background: #0095cc;
}

/* ---- BOTÃO VOLTAR ---- */
.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background: #00BFFF;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 10px;
}

.btn-voltar:hover {
    background: #0095cc;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

p.rodape {
    color: white;
    font-size: 15px;
    margin: 0;
}

/* CENTRALIZA TUDO */
.container-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
